@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background-color: #1e232d;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.Modal {
  width: 40%;
  height: 70%;
  border-radius: 15px;
  background-color: #3a445d;
  color: white;
  max-width: 800px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 23, 55, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #27272a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
